nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
}

nav a:link,
nav a:visited {
  color: #333;
}

nav a:hover,
nav a:active {

  color: #495E57;
}

