@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Markazi+Text:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Source+Sans+Pro:wght@400;600;700&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 65%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  margin-top: auto
}

h1, .heading {
  font-family: 'Markazi Text', serif;
  font-size: 64px;
}

h2, .subheading{
  font-family: 'Markazi Text', serif;
  font-size: 40px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  font-weight: bolder;
}


img {
  border-radius: 10%;
}

li {
  text-decoration: none;
  list-style-type: none;
}



 button {
  color: #333333;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  font-family: 'Karla', 'sans-serif';
  box-shadow: rgb(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background-color: #F4CE14;
  width: auto;
  cursor: pointer;
}

/*----Media Queries----*/
/*Tablet Styles*/

@media screen and (min-width: 768px) and (max-width: 1199px) {

}
/*Desktop Styles*/
@media screen and (min-width: 1200px) {

}

@media screen and (max-width: 700px) {
	.section__padding {
		padding: 4rem;
	}

	.section__margin {
		margin: 4rem;
	}
}

@media screen and (max-width: 550px) {
	.section__padding {
		padding: 4rem 2rem;
	}

	.section__margin {
		margin: 4rem 2rem;
	}
}